<section class="card-container">

<div nz-row >

  <div  nz-col nzXs="24" nzSm="12" nzLg="6" *ngFor="let card of cards">

    <nz-card nzHoverable class="card" [nzCover]="coverTemplate">
<ng-template #coverTemplate>
      <img [src]="card.image" alt=""  style="width: 100%; height: 12rem; border-radius: 20px 20px 0px 0px; "/>
      </ng-template>
<!--
      <nz-card-meta
        [nzTitle]="card.title"
        [nzDescription]="card.description">

      </nz-card-meta> -->
<div class="card-footer">
        <nz-card-meta
        [nzTitle]="card.title"
        [nzDescription]="card.description">

      </nz-card-meta>
      <div class="btn">
          <button   nz-button nzType="default">Secondary</button>

      </div>
</div>
    </nz-card>

  </div>

</div>

    <!-- <nz-card style="width:300px;" nzTitle="Card title" [nzExtra]="extraTemplate">
      <p>Card content</p>
      <p>Card content</p>
      <p>Card content</p>
    </nz-card>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template> -->


<!-- <ng-template #coverTemplate>
  <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
</ng-template> -->
      <!-- <nz-card nzHoverable class="card"  [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com" />
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
    </ng-template>
          <nz-card nzHoverable class="card"  [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com" />
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
    </ng-template>
              <nz-card nzHoverable class="card"  [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com" />
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
    </ng-template>
                  <nz-card nzHoverable class="card"  [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com" />
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
    </ng-template> -->
</section>
